@model List<MvcClient.Models.TaskViewModel>

@{
    ViewData["Title"] = "My Tasks";
}

<h2>My Tasks</h2>

@if (TempData["Sucesso"] != null)
{
    <div class="alert">@TempData["Sucesso"]</div>
}

<dl>
    @foreach (var task in Model)
    {
        <dd>
        @if (task.IsFinished)
        {
            <span style="text-decoration:line-through">@task.Description</span>
        }
        else
        {
            @task.Description
        }
        </dd>

        if (!task.IsFinished)
        {
            <dd><a href="~/task/finish/@task.Id">Set Completed</a></dd>
        }
    }
</dl>